<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student-form</title>
</head>
<body>
    <form action="/form" method="post">
        <p>Please enter your information:</p>
        <p>Name <input type="text" name="name" required></p>
        <p>Last name <input type="text" name="lastName" required></p>
        <p>Average grade <input type="text" name="averageGrade" placeholder="0.00" required></p>
        <button type="submit">Submit</button>
    </form>
</body>
</html>