<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gramar check results</title>
</head>
<body>
    <p>Number of caracters: {{caracterNumbers}}</p>
    <p>Number of words less than 5 caracters: {{wordsDownFive}}</p>
    <p>Number of words with more than 5 caracters: {{wordsUpFive}}</p>
    <p>Number of words with 5 caracters: {{wordsEqualFive}}</p>
    <p>Number of sentences: {{sentences}}</p>
    <p>Number of words: {{words}}</p>
    <p>Number of words stating with a, e, i, o, u : {{wordsAEIOU}}</p>
</body>
</html>